@font-face {
  font-family: 'MyWebFont';
  src: url('PixeloidSans.ttf') format('truetype');
}

body {
  text-align: center;
  background-color: rgb(20, 20, 20);
  color: #C7FF9E;
  font-family: 'MyWebFont';
}

main {
  width: fit-content;
  margin: auto;
}