.game-container {
  text-align: center;
  background-color: rgb(20, 20, 20);
  color: #C7FF9E;
  font-family: "Pixeloid Sans";
  width: fit-content;
  margin: auto;
}

.game-title {
  float: left;
  text-shadow: 0 0 10px rgba(255, 251, 154, 0.20);
}

.score-label {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1rem;
  float: right;
  text-shadow: 0 0 10px rgba(255, 251, 154, 0.20);
}

.game-canvas {
  width: 800px;
  height: 1200px;
  background-color: black;
  margin: auto;
  position: relative;
  box-shadow: 0 0 50px rgba(255, 251, 154, 0.20);
  outline: 5px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.block-container {
  position: absolute;
  transition: all 0.05s linear 0s;
  top: 0;
}

.block {
  width: 80px;
  height: 80px;
  background-color: #9EACFF;
  position: absolute;
  outline: 5px solid rgba(0, 0, 0, 0.75);
  outline-offset: -5px;
  transition: all 0.05s linear 0s;
  top: 0;
}
/* 
.block::before {
  content: "＋";
  color: rgba(0, 0, 0, 0.75);
  font-size: 113px;
  line-height: 0.65;
  margin-left: -16px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
} */

.block.variant1 {
  background-color: #9EACFF;
  /* box-shadow: 0 0 100px 10px rgba(158, 172, 255, 0.50); */
}

.block.variant2 {
  background-color: #C7FF9E;
  /* box-shadow: 0 0 100px 10px rgba(199, 255, 158, 0.50); */
}

.block.variant3 {
  background-color: #C59EFF;
  /* box-shadow: 0 0 100px 10px rgba(197, 158, 255, 0.50); */
}

.block.variant4 {
  background-color: #FFFB9A;
  /* box-shadow: 0 0 100px 10px rgba(255, 251, 154, 0.50); */
}

.block.variant5 {
  background-color: #9A90AA;
  /* box-shadow: 0 0 100px 10px rgba(154, 144, 170, 0.50); */
}

.block.line {
  height: 160px;
  width: 40px;
}

.block.full-row {
  background-color: white !important;
}